* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container-fluid {
    background-image: url(../images/bc-img.jpg);
    height: 100vh;
}

.card {
    position: relative;
    top: 70%;
}
