header {
    /* height: 2rem; */
}
body {
    /* height: 100vh; */
}

.nav-link {
    color: white;
}

.preview-img {
    height: 280px;
    width: 480px;
    border: 1px dotted;
}

.remove-img {
    position: relative;
    top: -135px;
    /* right: 12px; */
    color: tomato;
    font-size: 2rem;
    left: 12px;
    font-weight: 900;
}

.remove-img:hover {
    cursor: pointer;
    color: red;
}
.grow {
    flex: 1;
}

/* aside {
    height: 100%;
    position: fixed;
    width: 10%;
} */

#sidebar {
    position: fixed;
    height: 100%;
    width: 10%;
    margin: 0px;
}

#main {
    width: 90%;
    float: right;
}

.content {
    margin: 5rem;
}

#main header {
    width: 90%;
    position: fixed;
    margin: 0px;
}

.navbar-brand {
    color: white !important;
}

a#navbarDropdown {
    color: white !important;
}

.blog-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    letter-spacing: 2px;
}

aside a:hover {
    margin: 5px;
    transition: 0.4s;
    color: #fff;
}
sup {
    color: red;
}

.table .list {
    list-style-type: none;
    display: flex;
    gap: 1;
    justify-content: flex-start;
    align-items: center;
}

.table .list .list-item:hover {
    cursor: pointer;
}

.table .list .list-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.fa-unlock {
    color: seagreen;
}
.fa-ban {
    color: sienna;
}
.fa-trash {
    color: red;
}

.ms-n5 {
    margin-left: -40px;
}

.inactive {
    background-color: lightpink;
}
